<div class="mb-4">
    <partial name="_SearchForm"/>

    @await Component.InvokeAsync("CategoriesWidget")

    @await Component.InvokeAsync("RandomPostsWidget")

    @await Component.InvokeAsync("FeaturedPostsWidget")

    @await Component.InvokeAsync("TagCloudWidget")

    @await Component.InvokeAsync("BestAuthorsWidget")

    @await Component.InvokeAsync("ArchivesWidget")
    
    <h1>
        Bai viet noi bat
    </h1>

    <h1>
        Dang ky nhan tin moi
    </h1>

    <h1>
        Tag cloud
    </h1>
</div>
