@using TatBlog.Core.Contracts;
@model Post

@{
    ViewData["PageTitle"] = "Chi tiết bài viết";

    var postQuery = (ViewBag.PostQuery as PostQuery) ?? new PostQuery();
}

<div class="p-4">

    <article>
        <h3>@Model.Title</h3>
        <hr />
        <p>@Model.ShortDescription</p>
        <p>@Model.Description</p>
    </article>
</div>